node_modules/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

android/app/build
android/.gradle/
android/.gradle/5.5/fileChanges/last-build.bin
android/.gradle/5.5/fileContent/fileContent.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/buildOutputCleanup/cache.properties
android/local.properties

ios/build
ios/DerivedData
ios/Pods
# macOS
.DS_Store
ios/Polyteach.xcworkspace/xcuserdata/

.idea/

.env
